ScadaCore/ReportManager/Connected Services/ServiceReference/ReportManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58140/ReportManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58140/ReportManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58140/ReportManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCore" />
      <xsd:import schemaLocation="http://localhost:58140/ReportManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManagerService_GetAlarmsByDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDateRange" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAlarmsByDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAlarmsByPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByPriority" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAlarmsByPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagsByDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsByDateRange" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagsByDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAnalogInputs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogInputs" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetAnalogInputs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalogInputsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetDigitalInputs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalInputs" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetDigitalInputs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalInputsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagValuesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValuesByName" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_GetTagValuesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValuesByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportManagerService">
    <wsdl:operation name="GetAlarmsByDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsByDateRange" message="tns:IReportManagerService_GetAlarmsByDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsByDateRangeResponse" message="tns:IReportManagerService_GetAlarmsByDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsByPriority" message="tns:IReportManagerService_GetAlarmsByPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetAlarmsByPriorityResponse" message="tns:IReportManagerService_GetAlarmsByPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagsByDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetTagsByDateRange" message="tns:IReportManagerService_GetTagsByDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetTagsByDateRangeResponse" message="tns:IReportManagerService_GetTagsByDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalogInputs">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetAnalogInputs" message="tns:IReportManagerService_GetAnalogInputs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetAnalogInputsResponse" message="tns:IReportManagerService_GetAnalogInputs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDigitalInputs">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetDigitalInputs" message="tns:IReportManagerService_GetDigitalInputs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetDigitalInputsResponse" message="tns:IReportManagerService_GetDigitalInputs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagValuesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/GetTagValuesByName" message="tns:IReportManagerService_GetTagValuesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/GetTagValuesByNameResponse" message="tns:IReportManagerService_GetTagValuesByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportManagerService" type="tns:IReportManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlarmsByDateRange">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetAlarmsByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByPriority">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetAlarmsByPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsByDateRange">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetTagsByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalogInputs">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetAnalogInputs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitalInputs">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetDigitalInputs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagValuesByName">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/GetTagValuesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportManagerService">
    <wsdl:port name="BasicHttpBinding_IReportManagerService" binding="tns:BasicHttpBinding_IReportManagerService">
      <soap:address location="http://localhost:58140/ReportManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>