ScadaCore/ReportManager/Connected Services/ServiceReference/ReportManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58140/ReportManagerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DisplayAlarmsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAlarmsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayAlarmsByDateResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayAlarmsByPriorityResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTagsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTagsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayTagsByDateResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAnalogInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAnalogInputsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayAnalogInputsResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDigitalInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDigitalInputsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayDigitalInputsResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTagById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTagByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisplayTagByIdResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>