ScadaCore/RealTimeUnit/Connected Services/ServiceReference/RealTimeUnitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RealTimeUnitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58140/RealTimeUnitService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58140/RealTimeUnitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRealTimeUnitService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnitService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnitService_SendValueToAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:SendValueToAddress" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnitService_SendValueToAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendValueToAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="IRealTimeUnitService">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealTimeUnitService/Initialize" message="tns:IRealTimeUnitService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealTimeUnitService/InitializeResponse" message="tns:IRealTimeUnitService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValueToAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealTimeUnitService/SendValueToAddress" message="tns:IRealTimeUnitService_SendValueToAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealTimeUnitService/SendValueToAddressResponse" message="tns:IRealTimeUnitService_SendValueToAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRealTimeUnitService" type="tns:IRealTimeUnitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IRealTimeUnitService/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendValueToAddress">
      <soap:operation soapAction="http://tempuri.org/IRealTimeUnitService/SendValueToAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealTimeUnitService">
    <wsdl:port name="BasicHttpBinding_IRealTimeUnitService" binding="tns:BasicHttpBinding_IRealTimeUnitService">
      <soap:address location="http://localhost:58140/RealTimeUnitService.svc/rtu" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>